
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    cursor: default;
  }

  .paper container{
      text-align: center;
      margin-top: 40px;
  }
  
  li{
      cursor: pointer;
  }